
<app-navbar></app-navbar>
<br>
<br>
<br>
<style>
  .error {
      color: red;
      font-weight: bold;
  }

  .success {
      color: green;
      font-weight: bold;
  }

  input,
  select {
      width: 250px;
  }

  th,
  td {
      padding: 5px;
  }
</style>

<div align="center" >
 <div>
  
  <h2 *ngIf="!form.data.id>0" class="text-primary font-weight-bold" style="text-align: center;">{{'Add Manufacturer' |
    translate }}</h2>
  <h2 *ngIf="form.data.id>0" class="text-primary font-weight-bold" style="text-align: center;">{{'Update Manufacturer' |
    translate }}</h2>
    
  <br>

  

  <div><h5 style="color: green" *ngIf="form.message != null">{{form.message}}</h5></div>
  
  <br>
    <label>Manufacturer Name :-</label>
    <input type="text" [(ngModel)]="form.data.manufacturerName" name="manufacturerName">
    <div style="color: red;" *ngIf="form.inputerror !=null">{{form.inputerror.manufacturerName}}</div>
  </div>
  
  <div>
    <label>Manufacturer Price :- </label>
    <input type="text" [(ngModel)]="form.data.manufacturerPrice" name="manufacturerPrice">
    <div style="color: red;" *ngIf="form.inputerror !=null">{{form.inputerror.manufacturerPrice}}</div>
  </div>
  
  

  <div *ngIf="form.data.id > 0">
    <button (click)="update()">Update</button>
  </div>

  <div *ngIf="!form.data.id > 0">
    <button (click)="save()">Save</button>
  </div>
  
</div>

<app-footer></app-footer> 